<section class="section about" id="about">
  <div class="container">
    <div class="row">
      <figure class="about-banner">
        <img
          src="../../../assets/images/header-img.svg"
          width="800"
          height="652"
          loading="lazy"
          alt="Ethan's Photo"
          class="img-cover"
        />
      </figure>

      <div class="col-md-8"></div>
    </div>

    <div class="about-content">
      <p class="section-subtitle">I'm a 3rd Year B.tech Student</p>


      <p class="section-text">
        Welcome to my portfolio website! My name is Rohit Roy and I am a third-year student pursuing a Bachelor's degree in Computer Science and
        Engineering (CSE) from VIT, Bhopal. I am passionate about the field of computer science and am eager to learn more about the latest
        developments in technology and how it can be used to solve problems and
        improve people's lives.


      </p>

      <p class="section-text">
        I am open to any kind of opportunities in the field of computer science
        and open to learning and growing. Thank you for visiting my portfolio
        website!
      </p>

      <a href="#portfolio" class="btn btn-primary blue">View Projects</a>
    </div>
  </div>
</section>
