<div class="navbar">
        <h1 class="logo" >Rohit</h1>
        <!-- <ul class="links-container">

          <li class="links-items">
            <a href="#home" class="link active" >Home</a>
          </li>

          <li class="links-items">
            <a href="#about" class="link">About</a>
          </li>

          <li class="links-items">
            <a href="#portfolio" class="link">Portfolio</a>
          </li>

          <li class="links-items">
            <a href="#skills"class="link" >Skills</a>
          </li>

          <li class="links-items">
            <a href="#contact" class="link" >Contact</a>
          </li>
          <li class="links-items">
            <a href="../../assets/Rohit.pdf" class="btn btn-primary link">Download CV</a>
          </li>

        </ul> -->
        <!-- <ul class="links-container">
          <li class="links-items">  <a href="#home" class="link active" >Home</a></li>
          <li class="links-items"><a href="#about" class="link">About</a></li>
          <li class="links-items"> <a href="#portfolio" class="link">Project</a></li>
          <li class="links-items">   <a href="#skills"class="link" >Skills</a></li>
          <li class="links-items"> <a href="#contact" class="link" >Contact</a></li>
          <li class="links-items">
            <a href="../../assets/Rohit.pdf" target="_blank" class="btn btn-primary link">Download CV</a>
          </li>
      </ul>
    </div> -->

      <ul class="links-container">
          <li class="links-items"><a href='#' class="link">home</a></li>
          <li class="links-items"><a href='#about' class="link">about</a></li>
          <li class="links-items"><a href='#portfolio' class="link">project</a></li>
          <li class="links-items">   <a href="#skills"class="link" >Skills</a></li>
          <li class="links-items"><a href='#contact' class="link">contact</a></li>

          </ul>
  </div>

  <!-- <header class="header" data-header>
    <div class="container">

      <a href="#">
        <h1 class="logo">Rohit</h1>
      </a>
      <nav class="navbar container">
        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li>
            <a href="#about" class="navbar-link" data-nav-link>About</a>
          </li>

          <li>
            <a href="#portfolio" class="navbar-link" data-nav-link>Portfolio</a>
          </li>

          <li>
            <a href="#skills" class="navbar-link" data-nav-link>Skills</a>
          </li>

          <li>
            <a href="#contact" class="navbar-link" data-nav-link>Contact</a>
          </li>
          <li>
            <a href="../../assets/Rohit.pdf" class="btn btn-primary">Download CV</a>
          </li>

        </ul>
      </nav>

    </div>
  </header>

 -->
