<section id="experience" class="text-center">
  <h2 class="h2 ">Experience</h2>

  <!--
<div class="">

    <h2 class="h2 text-center ">Intern</h2>
    <p class="h2 text-center ">Forward Vision Pvt. Ltd.</p>
    <p class="h2 text-center ">Aug 2023 - Present</p>
</div>
 -->


  <!-- <ul class="intro-social">
  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
</ul>
    <h5 class="card-title">Intern</h5>

    <p class="card-text text-center">Forward Vision Pvt. Ltd.</p> -->


  <!-- Experience Card 1-->
  <div class="card shadow border-0 rounded-4 ">
    <div class="card-body p-5">
      <div class="row align-items-center gx-5">
        <div class="col text-center text-lg-start mb-4 mb-lg-0">
          <div class="bg-light p-4 rounded-4">
            <div class="theme-color">Forward Vision PVT. LTD.</div>
            <div class="small fw-bolder">Intern</div>
            <div class="texxt-center">August 2023 - September 2023</div>
            <div class="small text-muted">Remote</div>
          </div>
        </div>
        <div class="col-lg-8">


          <ul>
            <li>
              • Responsible for maintaining and developing a existing application using angular, spring boot and MySQL.
            </li>
            <li>• Diagnosed and resolved issues with API end points deployed on servers.</li>
            <li>
              • Gained expertise in debugging, API development and codebase understanding.
            </li>
            <li>• Integrated primeng editor in the application for enhancing user experience.</li>
            <li>• Successfully adapted to existing codebase and architecture, ensuring application functionality.</li>
          </ul>

        </div>


      </div>
    </div>
  </div>


</section>
