
.customNav {
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}
/* Navigation dropdown menu */
.dropdown-menu {

  background-color: transparent !important;
  background-size: cover;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fefefe;
    text-decoration: none;
    background: #ffffff;
}
.nav-link:hover {
  text-decoration: none;
    background: #8E839E;

}

/* Navigation links */
.customNav a {
  color: white !important;
}
.navCTA {
  font-size: 15px;
}

html{
  scroll-behavior:smooth;
}


